body, h1, h2, h3, h4, h5, h6, a {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #efefef;
}

.content-wrapper {
    background-color: #f4f4f4;
}

.title, .navbar-brand {
    font-family: 'Cagliostro', sans-serif;
}

.login-wrapper {
    /*position: relative;*/
    left: -136px;
    width: 300px;
    background-color: rgba(57, 57, 57, 0.9);
    padding: 15px;
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-image: url("../../public/img/login-back.png");*/
    /*background-size: contain;*/
}


.new-section {
    padding: 30px 0;
}

.login-wrapper label {
    font-size: 12px;
}

.btn-login {
    border: 2px solid #fcfcfc;
    border-radius: 0;
    background-color: transparent;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #efecec;
    text-decoration: none;
}

.login-wrapper input {
    border-radius: 0;
    /*height: 50px;*/
    font-size: 13px;
}

.login-wrapper a {
    color: inherit;
    font-size: 10px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper {
    padding: 15px;
    background-color: #cef3f3;
}

.content-wrapper .inner-wrapper {
    padding: 15px;
    background-color: #ffffff;
}

.title-wrapper {
    margin-bottom: 15px;
}

.title-wrapper .title-bottom-dash {
    width: 10%;
    height: 3px;
    border-radius: 30px;
    background-color: #00a157;
}

.primary-btn {
    background-color: #367fa9;
    color: #fff;
}

.primary-btn:hover {
    background-color: #286284;
    color: #fff;
}

.top-info-bar {
    background-color: #393939;
    color: #fff;
    font-size: 1em;
    line-height: 30px;
    padding: 0 2em;
    font-weight: 600;
}

.top-info-bar .btn-form-input {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
}

.btn-form-input {
    background-color: transparent;
    border: none;
    outline: none;
    line-height: 16px;
}

.main-menu {
    background-color: rgba(57, 57, 57, 0.57);
    color: #fff;
    padding: 1em;
    width: 100%;
    border-radius: 0;
    position: absolute;
    margin-bottom: 0;
    z-index: 10;
}

.navbar-brand {
    font-size: 40px;
    color: inherit;
}

.navbar-nav li a {
    color: inherit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.navbar-nav li .dropdown-menu {
    background-color: #085096;
    color: #fff;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #085096;
    border-color: #085096;
}

.navbar-nav li a:hover {
    background-color: #085096;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #085096;
    background-color: #fff;
}

.slider {
    height: 476px;
    overflow: hidden;
}

.margin-vertical {
    margin: 15px 0 !important;
}

.carousel-inner .item img {
    height: 100%;
    width: 100%;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature {
    position: relative;
}

.feature.main-feature {
    height: 585px;
}

.feature.sub-feature {
    height: 285px;
}

.feature > img {
    width: 100%;
    height: 100%;
}

.sub-feature-wrapper {
    margin: 15px -15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 29, 0.5);
}

.overlay:hover {
    background-color: rgba(28, 28, 29, 0.9);
    cursor: pointer;
}

.offer {
    background-color: #1565c0;
    padding: 10px 20px;
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.overlay-title {
    color: #fff;
    padding: 5px;
}

.product-wrapper {
    margin: 15px 0;
    -webkit-box-shadow: 0px 23px 68px -33px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 23px 68px -33px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 23px 68px -33px rgba(0, 0, 0, 0.75);
}

.product-wrapper .product-description {
    padding: 5px 0;
}

.product-wrapper .product-image {
    height: 327px;
}

.product-wrapper .product-image img {
    height: 100%;
    width: 100%;
}

.product-description .product-name {
    color: #1565c0;
    text-align: center;
    font-weight: 600;
    /*font-size: 14px;*/
}

.product-description .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

.product-description .breadcrumb li a {
    color: #000;
}

.product-description p {
    text-align: center;
    font-size: 16px;
}

.bg-gray {
    background-color: #f9f6f6;
}

.btn-view {
    border: 2px solid #1565c0;
    border-radius: 0;
    background-color: transparent;
}

.btn-view:hover {
    border: 2px solid #1565c0;
    border-radius: 0;
    background-color: #1565c0;
    color: white;
}

.no-padding {
    padding: 0 !important;
}

.user-panel {
    color: #fff;
    line-height: 30px;
}

.page-content {
    position: relative;
    background-color: white;
    padding: 15px;
    -webkit-box-shadow: 0px 23px 68px -33px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 23px 68px -33px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 23px 68px -33px rgba(0, 0, 0, 0.75);
}

.shadow {
    -webkit-box-shadow: 0px 6px 20px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 20px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 20px -12px rgba(0, 0, 0, 0.75);
}

.bg-white {
    background-color: #FFF !important;
}

.dataTables_wrapper .dataTables_length label {
    font-weight: 100 !important;
}

.dataTables_wrapper .dataTables_filter label {
    font-weight: 100 !important;
}

.dataTables_wrapper .dataTables_filter label{
    margin-bottom: 15px;
}

.dataTables_wrapper .dataTables_filter label input {
    background-color: #dad7d7;
    border: none;
}

.dataTables_wrapper .dataTables_length label select {
    background-color: transparent;
}

.dataTables_wrapper .custom-table {
    border-bottom: none !important;
}

.dataTables_wrapper .custom-table thead th {
    border-bottom: none !important;
}

.dataTables_wrapper .custom-table {
    margin-bottom: 15px;
    margin-top: 15px;
}

.page-title {
    margin: 0 -15px;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ffffff;
    -webkit-box-shadow: -2px -7px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -7px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -7px 20px 0px rgba(0, 0, 0, 0.75);
}

.page-title h3{
   margin: 0;
}

.custom-table thead th {
    font-size: 12px;
    color: #929da2;
    font-weight: 600 !important;
}

.custom-table tbody tr td {
    font-size: 14px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color: #fff !important;
    -webkit-box-shadow: 0px 6px 20px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 20px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 20px -12px rgba(0, 0, 0, 0.75);
    border-radius: 100% !important;
    border: none !important;

}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: white !important;
}

.custom-form .form-group label{
    font-weight: 100;
    color: #2b3131;
}

.custom-form .form-control {
    background-color: #fbfdfd;
    outline: none;
    color: #000;
    border-radius: 0 !important;
}

.custom-form textarea{
    background-color: #fbfdfd;
    width: 100%;
    height: 150px;
    border: 1px solid #D2D6DF;
}

.remove-description-option{
    position: absolute;
    right: -5px;
}

.custom-form .row{
    position: relative;
}

.form-half-width{
    width:50%;
}

.general-search-form .form-control{
    border: 1px solid transparent !important;
    line-height: 35px;
    font-size: 24px;
    border-radius: 0 !important;
    padding: 32px;
}

.general-search-icon{
    font-size: 24px;
    line-height: 66px;
}

.no-margin{
    margin: 0 !important;
}


.top-bar-login-register li a{
    color: inherit;
}

.top-bar-login-register li a:hover{
    text-decoration: none;
}

.padding{
    padding: 15px;
}

.register-wrappper{
    margin-top: 100px;
    margin-bottom: 20px;
}

.register-page-wrapper{
    margin-top: 100px;
}


.detail-component{
    margin-top: 15px;
    margin-bottom: 30px;
}

.detail-component .title{
    margin: 0;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.profile-img{
    width: 100%;
}

.product-image-wrapper img{
    width: 100%;
}

.btn-edit-profile{
    position: absolute;
    top:0;
    right: 0;
}

.btn{
    border-radius: 0;
}

